*.mo
*.pyc
/*.egg-info
/.installed.cfg
/.mr.developer.cfg
/README.html
/bin/
/buildout.cfg
/coverage/
/develop-eggs/
/eggs/
/parts/
/src/
/var/
.grunt
.lock-wscript
node_modules
.npm
.node_repl_history
npm-debug.log
